* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }
  
  header {
      background-color: rgb(80, 65, 65);
      width: 100%;
      /*position: fixed;  por si lo queremos siempre visible arriba de la hoja*/
      z-index: 100;  
      padding: 30px;  
  }
  
  .funkologo {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
  }
  
  nav {
      float: right;
    }
  
  nav ul {
      list-style: none;
      margin-right: 20px;
      margin-top: 20px;
  }
  
  nav ul li {
      float: left;
      font-family: Arial, sans-serif;
      font-size: 20px;
      color: white;
  }
  
  nav ul li a {
      display: block;
      padding: 10px;
      color: #fff;
      text-decoration: none;
  }
  
  nav ul li:hover {
      background: #e64311;
      pointer-events: all;
  }
  
  
  bg-grey {
      background-color: rgb(80, 65, 65);
      
  }
  
  .cont-banner {
      background-color: black;
      height: 388px;
  }
  
  .banner {
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      opacity: 0.5;
  }
  
  .carrito {
      width: 20px;
      height: 20px;
  }
  
  
  footer {
      display: grid;
      grid-column: 2;
      width: 100%;
      color: white;
      background-color:  rgb(80, 65, 65);
  }
  
  footer ul {
      list-style: none;
      margin-right: 20px;
      margin-top: 20px;
  }
  
  footer ul li {
      float: left;
      font-family: Arial, sans-serif;
      font-size: 20px;
  }
  
  footer ul li a {
      padding: 10px;
      color: #fff;
      text-decoration: none;
  }
  
  footer ul li:hover {
      background: #e64311;
  }
  
  footer img {
      float:right;
  }
  
  
  

