* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }

  header {
    background-color: rgb(80, 65, 65);
    width: 100%;
    /*position: fixed;  por si lo queremos siempre visible arriba de la hoja*/
    z-index: 100;  
    padding: 30px;  
  }
  
  nav ul {
      list-style: none;
  }
  
  nav ul li {
      float: left;
      font-family: Arial, sans-serif;
      font-size: 20px;
      color: white;
  }
  
  nav ul li a {
      display: block;
      padding: 10px;
      color: #fff;
      text-decoration: none;
  }
  
  nav ul li:hover {
      background: #e64311;
  }
  
  /* Para ver como centramos los rectangulos de los articulos */
  
  .bg-grey {
    
      background-color: rgb(124, 116, 116);
      
  }

  .bg-white {

    background-color: #ffffff;

  }

  /**************************************************/

  .just-content {
    justify-content: space-around;

  }
  
  .cont-banner {
      background-color: black;
      height: 388px;
      padding: 0%;
      margin: 0%;
  }
  
  .banner {
    margin: auto;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      opacity: 0.5;
  }
  
  .carrito {
      width: 20px;
      height: 20px;
  }
  
  
  footer {
      display: grid;
      grid-column: 2;
      width: 100%;
      color: white;
      background-color:  rgb(80, 65, 65);
      padding: 20px;
  }
  
  footer ul {
      list-style: none;
      margin-right: 20px;
      margin-top: 20px;
  }
  
  footer ul li {
      float: left;
      font-family: Arial, sans-serif;
      font-size: 20px;
  }
  
  footer ul li a {
      padding: 10px;
      color: #fff;
      text-decoration: none;
  }
  
  footer ul li:hover {
      background: #e64311;
  }

  .btn-blanco {
    text-decoration: none;
    background-color: #ffffff;
    color:#000000;
  }
  
  .btn-gris {
    background-color: rgb(80, 65, 65);
    color: #ffffff;
  }


  .ancho-tarj {
    width: 250px;
  }
  
  
hr {
    height: 5px;
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  

